@using EntityLayer.Concrete
@model List<Message2>

<div class="row m-t-lg">
    <div class="col-lg-12">
        <div class="ibox ">

            <div class="ibox-content">
                <div>
                    <div class="chat-activity-list">
                        @foreach (var item in Model)
                        {
                        <div class="chat-element">
                            <a href="#" class="float-left">
                                <img alt="image" class="rounded-circle" src="~/CompanyImage/@item.SenderUser.ImageUrl">
                            </a>
                            <div class="media-body ">
                                <small class="float-right text-navy">@item.Date.ToShortDateString()</small>
                                <strong>@item.SenderUser.NameSurname</strong>
                                <p class="m-b-xs">
                                    @item.Details
                                </p>
                                <small class="text-muted">@item.Subject</small>
                                <small class="text-muted float-right">@item.ReceiverUser.UserName</small>
                            </div>
                        </div>
                        }
                    </div>
                </div>
                <br />
                <div class="chat-form">
                    <div class="text-right">
                        <a href="/Admin/AdminMessage/AdminInBox/" class="btn btn-sm btn-primary m-t-n-xs"><strong>Mesajlara Git</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

