@model EntityLayer.Concrete.Advert
@{
    ViewData["Title"] = "AddAdvert";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1>İlan Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddAdvert", "Advert", FormMethod.Post))
{
    @Html.HiddenFor(x => x.AdvertID)
    @Html.Label("Departman")
    @Html.TextBoxFor(x => x.Department, new { @class = "form-control" })
    <br />
    @Html.Label("Firma")
    @Html.DropDownListFor(x => x.CompanyID, (List<SelectListItem>)ViewBag.co, new { @class = "form-control" })
    <br />
    @Html.Label("Çalışma Türü")
    @Html.TextBoxFor(x => x.JobType, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.cv, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.Description, 3, 3, new { @class = "form-control" })
    <br />
    @Html.Label("Gereklilikler")
    @Html.TextAreaFor(x => x.Required, 3, 3, new { @class = "form-control" })
    <br />
    @Html.Label("Deneyim")
    @Html.TextAreaFor(x => x.Experience, 3, 3, new { @class = "form-control" })
    <br />
    @Html.Label("Son Başvuru Tarihi")
    @Html.TextBoxFor(x => x.ApplicationDeadline, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Ekle</button>
}

