@model IEnumerable<EntityLayer.Concrete.Advert>
@{
    ViewData["Title"] = "AdvertsDetail";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!doctype html>
<html class="no-js" lang="zxx">
<body>

    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="/jobportal/assets/img/hero/about.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>İLAN</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        @foreach (var item in Model)
        {
            <div class="job-post-company pt-120 pb-120">
                <div class="container">
                    <div class="row justify-content-between">
                        <!-- Left Content -->
                        <div class="col-xl-7 col-lg-8">
                            <!-- job single -->

                            <div class="single-job-items mb-50">
                                <div class="job-items">
                                    <div class="company-img company-img-details">
                                        <a href="#"><img src="~/CompanyImage/@ViewBag.image" style="width:9em; height:7em;" alt=""></a>
                                    </div>
                                    <div class="job-tittle">
                                        <a href="#">
                                            <h4>@item.Department</h4>
                                        </a>
                                        <ul>
                                            @await Component.InvokeAsync("CategoryListWithAdvert", new { id = ViewBag.i })
                                            <li><i class="fas fa-map-marker-alt"></i>@await Component.InvokeAsync("CityListWithCompany", new { id = ViewBag.i })</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- job single End -->

                            <div class="job-post-details">
                                <div class="post-details1 mb-50">
                                    <!-- Small Section Tittle -->
                                    <div class="small-section-tittle">
                                        <h4>İş Tanımı</h4>
                                    </div>
                                    <p>@item.Description</p>
                                </div>
                                <div class="post-details2  mb-50">
                                    <!-- Small Section Tittle -->
                                    <div class="small-section-tittle">
                                        <h4>Gereklilikler</h4>
                                    </div>
                                    <ul>
                                        <li>@item.Required</li>
                                    </ul>
                                </div>
                                <div class="post-details2  mb-50">
                                    <!-- Small Section Tittle -->
                                    <div class="small-section-tittle">
                                        <h4>Deneyim</h4>
                                    </div>
                                    <ul>
                                        <li>@item.Experience</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- Right Content -->
                        <div class="col-xl-4 col-lg-4">
                            <div class="post-details3  mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>İlan Hakkında</h4>
                                </div>
                                <ul>
                                    <li>Yayınlanma Tarihi : <span>@item.PostedDate.ToShortDateString()</span></li>
                                    <li>Şehir : <span>@await Component.InvokeAsync("CityListWithCompany", new { id = ViewBag.i })</span></li>
                                    <li>Çalışma Şekli : <span>@item.JobType</span></li>
                                    <li>Son Başvuru Tarihi : <span>@item.ApplicationDeadline.ToShortDateString()</span></li>
                                </ul>
                                <div class="apply-btn2">
                                    <a href="/Adverts/AdvertApplication/@item.AdvertID" class="btn">BAŞVUR</a>
                                </div>
                            </div>

                            @await Component.InvokeAsync("CompanyAbout", new { id = item.CompanyID })

                        </div>
                    </div>
                </div>
            </div>

            <!-- job post company End -->
        }
    </main>

</body>
</html>