@model EntityLayer.Concrete.Message2
@{
    ViewData["Title"] = "AdminAddMessage";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Yeni Mesaj Oluştur</h3>
        </div>
    </div>
</div>
@using (Html.BeginForm("AdminAddMessage", "AdminMessage", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample">
                    @Html.Label("Alıcı")
                    @Html.DropDownListFor(x => x.ReceiverID, (List<SelectListItem>)ViewBag.uv, new { @class = "form-control" })
                    <br />
                    @Html.Label("Konu")
                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Subject)
                    <br />
                    @Html.Label("İçerik")
                    @Html.TextAreaFor(x => x.Details, 5, 3, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Details)
                    <button class="btn btn-success">Gönder</button>

                </form>
            </div>
        </div>
    </div>
}


